body {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bodyHtml {
    
    height: 100vh;
}

.bodyHtmlMain {
    background-image: url("../img/background.jpg");
}

.bodyHtmlCredits {
    background-image: url("../img/creditsWallpaper.jpg");
}

.dialogBox {
    background-color: #cebfa8;
    color: #2a2212;
    width: 28vw;
    height: 40vh;
    font-size: 6vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 6vh;
    border: 1vh #8e6952 groove;
    cursor: default;
}
.dialogBox > p:hover:before {
    content: url("../img/selection.png");
}

.logo {
    height: 30vh;
    width: 38vw;
    margin-top: 8vh;
    margin-left: 4vw;
}

.textBorder {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.imgCreditsBox {
    max-width: 100%;
    max-height: 100%;
}

.noPadding {
    padding: 0;
}

.creditsTitle {
    background-color: #594231;
    color: #c9c4c0;
    border: 0.3vh #8e6952 groove;
    font-size: 3vh;
}

.creditsTitle > span {
    margin-left: 2vw;
}

.fade-out {
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.modalBox {
    background-color: #cebfa8;
    overflow: hidden;
    border: 4px #8e6952 groove;
}

.modalTitle {
    background-color: #594231;
    color: #c9c4c0;
    font-size: 3vh;
}

.modalTitle > button {
    color: white;
}

.modalPrinny {
    width: 8rem;
    margin-left: 1vw;
}

.modalPrinnySmoll {
    width: 5rem;
}


.centerDivText {
    padding-top: 1vh;
}

.creditsMargin {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* OVERRIDE */
.btn-primary {
    color: #fff;
    background-color: #594231;
    border-color: #c9c4c0;
}

.btn-secondary {
    border-color: #c9c4c0;
}

.imgTs {
    height: 9vw;
    position: absolute;
    left: 30vw;
    bottom: -7vh;
}

.btn-primary:hover {
    color: #fff;
    background-color: #261c15;
    border-color: #c9c4c0;
}

.centerVerticallyDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hand {
    cursor: pointer;
}

.buttonExit {
    right: 6vw;
    position: absolute;
    padding-left: 1vw;
    padding-right: 1vw;
}

@media screen and (max-width: 999px) {
    .creditsBox {
        background-color: #cebfa8;
        border: 1vh #8e6952 groove;
        overflow: hidden;
        margin-bottom: 1vh;
        font-size: 1.2rem;
        line-height: 4vh;
    }
}

@media screen and (min-width: 1000px) {
    .creditsBox {
        background-color: #cebfa8;
        border: 1vh #8e6952 groove;
        overflow: hidden;
        margin-bottom: 1vh;
        font-size: 1vw;
        line-height: 4vh;
    }
}