body {
    background-color: black;
}
.bodyHtml {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
    background-size: cover;
    height: 100vh;
}

.bodyHtmlMain {
    background-image: url("../img/background.jpg");
}

.bodyHtmlCredits {
    background-image: url("../img/creditsWallpaper.jpg");
}

.dialogBox {
    background-color: #cfc0a9;
    color: #2a2212;
    width: 28vw;
    height: 40vh;
    font-size: 6vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 6vh;
    border: 1vh #8e6952 groove;
    cursor: default;
}
.dialogBox > p:hover:before {
    content: url("../img/selection.png");
}

.logo {
    height: 30vh;
    width: 38vw;
    margin-top: 8vh;
    margin-left: 4vw;
}

.textBorder {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.imgCreditsBox {
    max-width: 100%;
    max-height: 100%;
}

.noPadding {
    padding: 0;
}

.creditsTitle {
    background-color: #594231;
    color: #c9c4c0;
    border: 0.3vh #8e6952 groove;
    font-size: 3vh;
}

.creditsTitle > span {
    margin-left: 2vw;
}

.fade-out {
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.modalBox {
    background-color: #cfc0a9;
    overflow: hidden;
    border: 4px #8e6952 groove;
}

.modalTitle {
    background-color: #594231;
    color: #c9c4c0;
    font-size: 3vh;
}

.modalTitle > button {
    color: white;
}

.modalPrinny {
    width: 5vw;
}

.centerDivText {
    padding-top: 1vh;
}

.creditsMargin {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@media screen and (max-width: 999px) {
    .creditsBox {
        background-color: #cfc0a9;
        border: 1vh #8e6952 groove;
        overflow: hidden;
        margin-bottom: 1vh;
        font-size: 1.2rem;
        line-height: 4vh;
    }
}

@media screen and (min-width: 1000px) {
    .creditsBox {
        background-color: #cfc0a9;
        border: 1vh #8e6952 groove;
        overflow: hidden;
        margin-bottom: 1vh;
        font-size: 1vw;
        line-height: 4vh;
    }
}